body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#id1{
            font-family:verdona;
            font-style:italic;
            color:blue;
            padding:20px;
            padding-left: 20px;
            }
  .c2{
            font-family:verdona;
            font-style:italic;
            color:green;
            padding:20px;
              
           padding-left: 20px;
            }
.c1{
            font-family:verdona;
            font-style:italic;
            color:powderblue;
            padding:20px;
              
           padding-left: 20px;
}
